.book-item {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}
.coverpic-container {
  width: 130px;
  height: 160px;
  margin-right: 12px;
}
.shelf-coverpic {
  width: 130px;
  height: 160px;
  border-radius: 10px;
}
.bookitem-details-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  padding: 0px;
  padding-right: 0px;
}
.shelf-title {
  color: #334155;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  padding-left: 0px;
}
.shelf-rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}
.shelf-status {
  color: #475569;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
.shelf-read-status {
  color: #0284c7;
  font-size: 12px;
  font-weight: 600;
}
.shelf-rating-title {
  color: #475569;
  font-size: 12px;
  font-weight: 500;
}
.shelf-star {
  width: 20px;
  height: 20px;
  color: #fbbf24;
}
.shelf-rating {
  color: #334155;
  font-weight: 500;
  font-size: 12px;
}
.link {
  text-decoration: none;
}
.bookitem-author {
  color: #475569;
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
}
