.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-right: 40px;
  background-color: #ffffff;
  height: 80px;
}
.desktop-header-logo {
  width: 133px;
  height: 41px;
  display: none;
}
.mobile-header-logo {
  width: 92px;
  height: 24px;
}
.hamburger {
  width: 30px;
  height: 30px;
  color: #47556990;
}
.menu-list {
  list-style-type: none;
  display: none;
  justify-content: space-around;
  align-items: center;
}
.link {
  text-decoration: none;
}
.menu-item {
  text-decoration: none;
  color: #64748b;
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
}
.logout-btn {
  width: 80px;
  height: 32px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 4px;
  background-color: #0284c7;
  border: none;
  cursor: pointer;
  outline: none;
}
.ham-menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
.nav-ham-menu {
  width: 100vw;
}
.hamburger-btn {
  background-color: transparent;
  border: none;
}
.mobile-menu-list {
  width: 100vw;
  background-color: #f5f7fa;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.close-icon {
  width: 28px;
  height: 28px;
  background-color: #334155;
  border-radius: 28px;
}
@media screen and (min-width: 768px) {
  .desktop-header-logo {
    display: block;
  }
  .mobile-header-logo {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .menu-list {
    display: flex;
  }
  .mobile-menu-list {
    display: none;
  }
}
